<div class="singlePost">
  <div class="postTitle">
    <h3><%= post.Title %></h3>
    <p><%= post.Text %></p>
  </div>
  <div class="counterSection">
    <span>Comments: <%= post.comment_counter %></span>
    <span>Likes: <%= post.like_counter %></span>
  </div>
</div>